extends Layout

block content
  div(class="wrapper")
    p(id="counter") #{number}
    form(method="POST")
      label(for="custom-number") Custom Number
      input(type="text" name="custom_number")
      p
        input(type="submit" value="+1 or Enter Custom Number")
