extends Layout

block content
  div(class="wrapper")
    //- pass in number from route variable
    p(id="counter") #{number}
    form(method="POST")
      label(for="custom-number") Custom Number
      input(type="number" class="number-input" name="custom_number")
      p(class="button")
        button(type="submit") +1 or Enter Custom Number
